body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.roleContainer {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;

    font-size:10em;
    font-family:"Open Sans", sans-serif;
    height:60%;
}

h1 {
    font-size:1.3em;
}

.roleContainer a {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;

    padding:0.1em; 

    background-color: rgb(228, 227, 227);
    border-radius: 20%;
    border: 2px solid black;

    text-decoration:none;
    color:black;

    cursor:pointer;
}

.roleContainer a:hover {
    box-shadow: 3px 3px rgb(202, 202, 202);
}

.roleContainer a .icon {
    height:80%;
}

.roleContainer a p {
    font-size:0.2em;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap:3em;
    margin-bottom: 5em;

    font-size:1.5em;
}

#login div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

#login button {
    width: 100%;
}

#login .cancel{
    display:flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    bottom:2em;
    left:2em;

    text-decoration:none;

    padding:1em;
    height:fit-content;
    width:fit-content;

    background-color: rgb(229, 150, 150);
    border:2px solid black;
    border-radius: 10%;
    color: black;
}