.taskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1em;
    padding: 1em;
    gap: 2em;

    font-size: 1em;
    font-family: "Open Sans", sans-serif;
}

.taskContainer .task{
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    padding: 1em;

    height: auto;
    width: 70%;
    
    box-shadow: 2px 2px rgb(235, 234, 234);;
    background-color: white;
}

.taskContainer .task p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}