* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;


    height: 100vh;
    width: 100vw;
    
}

#login {
    display:flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;

    gap: 10vh;
}

#login div {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login input{
    height:3vh;
    width: 60vw;
}