{% extends 'base.html' %} {% block stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/edit_task.css') }}"
/>
{% endblock %} {% block container %}
<h1>Add Task</h1>

<form method="POST" action="#">
  <div>
    <label for="title">Title</label>
    <input id="title" name="title" type="text" required />
  </div>

  <div>
    <label for="description">Description</label>
    <textarea id="description" name="description"></textarea>
  </div>

  <div>
    <label for="due_date">Due Date</label>
    <input id="due_date" name="due_date" type="date" required />
  </div>

  <div>
    <label for="priority">Priority</label>
    <input id="priority" name="priority" type="text" />
  </div>

  <div>
    <label for="status">Status</label>
    <select id="status" name="status" required>
      <option>Todo</option>
      <option>In Progress</option>
      <option>Completed</option>
    </select>
  </div>

  <div>
    <label for="assigned">Assigned</label>
    <select id="assigned" name="assigned" multiple>
      <option>Developer 1</option>
      <option>Developer 2</option>
      <option>Developer 3</option>
    </select>
  </div>

  <button type="submit">Submit</button>

  {% endblock %}
</form>
