{% extends 'template.html' %} 

{% block stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock %} 

{% block container %}
<h1>Login</h1>
<!-- add path to action -->
<form id="login" method="POST">
  <div>
    <label for="username">Enter Username</label>
    <input type="text" class="username" name="username" />
  </div>

  <div>
    <label for="password">Enter Password</label>
    <input type="text" class="password" name="password" />
  </div>

  <div>
    <button type="submit" class="submit">Login</button>
    <a href="{{ url_for('register') }}">Register here</a>
  </div>

  <a class = "cancel" href="{{ url_for('role_screen') }}">Cancel</a>
</form>
{% endblock %}
